<% var hash = htmlWebpackPlugin.options.ento.hash(); %><!DOCTYPE html>
<html data-ng-app="ento" data-ng-controller="HTMLController as html">
    <head>
        <!-- Config -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">

        <!-- Document metatags -->
        <title data-page-title>Ento</title>

        <!-- Icons -->
        <link rel="icon" type="image/png" href="<%= process.env.APP_URL %>favicon.png" />

        <!-- Angular -->
        <meta name="fragment" content="!" />

        <!-- Ento -->
        <script type="text/javascript">
            var _ento = {
                js: '',
                css: '',
                icon: '<%- htmlWebpackPlugin.options.ento.images.icon %>',
                logo_author: '<%- htmlWebpackPlugin.options.ento.images.logo_author %>',
                logo: '<%- htmlWebpackPlugin.options.ento.images.logo %>',
                logo_horizontal: '<%- htmlWebpackPlugin.options.ento.images.logo_horizontal %>',
                hash: '<%= hash %>',
                app_url: '<%= process.env.APP_URL %>',
                api_url: '<%= process.env.API_URL %>',
                develop: <%= htmlWebpackPlugin.options.ento.develop %>,
                version: '<%= htmlWebpackPlugin.options.ento.version %>',
                gmaps_apikey: '<%= process.env.GMAPS_APIKEY %>',
                webview: false
            };
        </script>


        <!-- Loading -->
        <link rel="stylesheet" href="<%= process.env.APP_URL %>/css/loading.css?<%= hash %>">
        <script type="text/javascript" src="<%= process.env.APP_URL %>/js/loading.js?<%= hash %>"></script>

    </head>
    <body id="top" data-ng-class="body.class">

        <main id="site" data-ui-view="" data-ng-if="!html.showPreLoader" data-ng-cloak></main>

        <div id="outdated"></div>

    </body>
</html>